@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap; /* Affiche une police système en attendant le chargement */
    src: url(...);
}
body {
    font-family: 'Inter', sans-serif;
    color: #212529;
}