@import "tailwindcss";
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/path-to-font.woff2') format('woff2');
}
body {
    font-family: 'Inter', sans-serif;
    color: #212529;
}
