---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div class="w-full h-screen flex flex-col justify-center gap-4 items-center bg-[#212529] text-white">
        <h1 class="text-5xl font-light max-w-md">Oups...</h1>
        <p class="text-lg max-w-sm">La page que vous cherchez n'existe pas.</p>
        <a href="/realisation" class="border-b text-2xl px-1 w-max">Accueil</a>
    </div>
</Layout>