---
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<article>
	{posts.map((post: { slug: string; data: { title: string }; body: string }) => (
		<div data-key={post.slug}>
			<h1>{post.data.title}</h1>
			<div>{post.body}</div>
		</div>
	))}
</article>
