---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <Header />
    <section class="max-w-7xl mx-auto px-4 py-16 md:py-32">
        <h1 class="text-4xl font-bold mb-8">Mentions Légales</h1>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Éditeur du site</h2>
        <p class="text-lg leading-relaxed">
            Nom de l’entreprise : <strong>Novalex</strong><br>
            Forme juridique : <strong>Société par Actions Simplifiée (SAS)</strong><br>
        </p>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Propriété intellectuelle</h2>
        <p class="text-lg leading-relaxed">
            L’ensemble du contenu du site <strong>novalex.org</strong>, incluant, de manière non exhaustive, les textes, images, logos et éléments graphiques, est la propriété exclusive de <strong>Novalex</strong> ou fait l’objet d’une autorisation d’utilisation. Toute reproduction, distribution ou utilisation sans autorisation écrite est interdite.
        </p>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Données personnelles</h2>
        <p class="text-lg leading-relaxed">
            Le site <strong>novalex.org</strong> ne collecte ni ne traite aucune donnée personnelle. Aucune donnée n’est stockée ni exploitée à des fins commerciales ou analytiques.
        </p>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Cookies</h2>
        <p class="text-lg leading-relaxed">
            Le site <strong>novalex.fr</strong> n’utilise aucun cookie.
        </p>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Responsabilité</h2>
        <p class="text-lg leading-relaxed">
            Les informations fournies sur ce site sont données à titre indicatif et peuvent être modifiées à tout moment. <strong>Novalex</strong> ne peut être tenue responsable des erreurs, omissions ou des dommages résultant de l'utilisation du site.
        </p>
        
        <h2 class="text-2xl font-semibold mt-8 mb-4">Droit applicable</h2>
        <p class="text-lg leading-relaxed">
            Le site et son contenu sont soumis au droit français. En cas de litige, les tribunaux compétents seront ceux du siège social de <strong>Novalex</strong>.
        </p>    
    </section>
</Layout>