---
// ImageComparison.astro
const { title, description, hero_image } = Astro.props;
---
<div class="flex flex-col w-full bg-[#212529] md:grid md:grid-cols-2 md:h-screen items-center">
  <div class="absolute w-full h-full flex justify-center items-end text-white px-4 py-8 md:py-16">
    <div class="max-w-7xl w-full">
      <h1 class="text-5xl font-normal max-w-md leading-tight" style="content-visibility: auto;">{title}</h1>
      <p class="mt-6 text-lg max-w-sm">{description}</p>
    </div>
  </div>
  <div class="h-screen text-white w-full max-w-7xl flex flex-col justify-end">
  </div>

  {hero_image ? (
    <div class="w-full">
      <img src={hero_image} alt="Image principale" class="md:h-screen w-full object-cover" />
    </div>
  ) : null}
</div>