---
import { getCollection, render } from 'astro:content';
// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
    const posts = await getCollection('realisations');
    return posts.map(post => ({
        params: { realisation: post.slug },
        props: { post },
    }));
}

// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { post } = Astro.props;
const { Content } = await render(post);
---
<h1>{post.data.title}</h1>
<Content />